@model IEnumerable<ShippingTrackingSystem.Models.Product>

@{
    ViewData["Title"] = "Category Products";
    var CategoryName = ViewBag.CategoryName;
}

<div class="container mt-4">
    <h2 class="mb-3">Products in Category: @CategoryName</h2>
    <hr />
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-md-3 mb-3">
                <div class="card h-100">
                    <img class="card-img-top" src="@product.ImagePath" alt="@product.Name" style="height: 60%">
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <hr />
                        <p class="card-text">@product.Description</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted"><b style="color:green;">Price: @product.Price</b></small>
                    </div>
                </div>
            </div>
        }
    </div>

    <a href="@Url.Action("All", "Category")" class="btn btn-primary mt-3">Back to Categories</a>
</div>
